
<div class="masthead">

<div class="language-nav">

<a href="google.com">CSS </a> 
<a href="google.com"> HTML </a> 
<a href="google.com"> Javascript </a>
<a href="google.com"> Ruby </a> 

</div>

<div class="logo">
<img src="assets/AA_Times_Logo.png">

</div>

<div class="masthead-links">
Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100%
</div>

</div>